<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="form-book">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form action="/add_book" method="POST">
        <input type="text" id="isbn" name="isbn" placeholder="ISBN" required><br>

        <input type="text" id="title" name="title" placeholder="Book Title" required><br>

        <input type="number" id="publication_year" name="publication_year" placeholder="Publication Year" required><br>

        <select id="author_id" name="author_id" required>
            <option value="" disabled selected>Select Author</option>
            {% for author in authors %}
                <option value="{{ author.id }}">{{ author.name }}</option>
            {% endfor %}
        </select><br><br>
        <button>
        <input type="submit" value="Add Book">
        </button>
    </form>

</body>
</html>