<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studio Sen Library</title>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Trocchi&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <main>
        <main class="book-grid" id="book-grid">

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="{{ category }} message book">{{ message }}</div>
            {% endfor %}
            {% endif %}
            {% endwith %}



            <div class="book" id="menu-container">
                <nav class="menu">
                    <h1>Studio Sen Library</h1>
                    <a href="#" onclick="loadContent('{{ url_for('add_author') }}', 'top')" class="book-button">Add Author</a>
                    <a href="#" onclick="loadContent('{{ url_for('add_book') }}', 'bottom')" class="book-button">Add Book</a>
                    <a href="https://www.amazon.com/s?k={{ book.title }}" target="_blank" class="book-button">Check out on Amazon</a>
                    <a href="{{ url_for('home') }}" class="book-button">Back to Overview</a>
                                    </nav>
            </div>

                <div class="detail large">
                    <div class="book-content">
                        <img src="{{ book.cover_url }}" alt="Cover" class="cover">
                    </div>
                </div>

                <div class="detail">
                    <div class="book-content">
                        <div class="info">
                            <h2 class="title">{{ book.title }}</h2>
                                <p class="author"><a href="{{ url_for('author_detail', author_id=book.author_id) }}">{{ book.author }}</a></p>                            <p>ISBN: {{ book.isbn }}</p>
                            <p>Year: {{ book.year }}</p>

                            {% if book.id > 600 %}
                        <form action="/book/{{ book.id }}/delete" method="post" class="delete-form" onsubmit="event.stopPropagation();">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="delete">Delete Book</button>
                        </form>
                    {% endif %}
                        </div>
                    </div>


                </div>
            <div class="arrow book "><p>Author Page</p><a href="{{ url_for('author_detail', author_id=book.author_id) }}" class="mid">{{ book.author }}</a></div>
            <div class="arrow book" onclick="location.href='/book/{{ book.prev_book_id }}/detail'" {% if not book.prev_book_id %}style="visibility: hidden;"{% endif %}><</div>
            <div class="arrow book" onclick="location.href='/book/{{ book.next_book_id }}/detail'" {% if not book.next_book_id %}style="visibility: hidden;"{% endif %}>></div>
            <div class="arrow book"><p>book.id</p>{{ book.id }}</div>

        </main>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>

</body>
</html>