<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studio Sen Library</title>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Trocchi&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <main class="book-grid" id="book-grid">
            <div class="book" id="menu-container">

                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                             <div class="{{ category }} message book">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <nav class="menu">
                    <h1>Studio Sen Library</h1>
                    <a href="#" onclick="loadContent('{{ url_for('add_author') }}', 'top')" class="book-button">Add Author</a>
                    <a href="#" onclick="loadContent('{{ url_for('add_book') }}', 'bottom')" class="book-button">Add Book</a>
                    <a href="{{ url_for('home') }}" class="book-button">Back to Overview</a>
                    {% if author and author.id > 50 %}
                        <form action="/author/{{ id }}/delete" method="post" class="delete-form" onsubmit="event.stopPropagation();">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="delete">Delete Author</button>
                        </form>
                    {% endif %}
                </nav>
            </div>

            <div class="detail">
                <div class="book-content">
                    <img src="{{ author_image }}" alt="Author Image" class="author cover">
                </div>
            </div>

            <div class="detail large">
                <div class="book-content">
                    <div class="info">
                        <h1>{{ name }}</h1>
                        <p class="born">Born: {{ birthdate }}</p>
                        <p>{{ summary }}</p> </br>
                    </div>
                </div>
            </div>
            {% for book in books %}

            <div class="book">
                    <div class="book-content">
                        <a href="/book/{{ book.id }}/detail" class="book-link">
                        <img src="{{ book.cover_url }}" alt="Cover" class="cover">
                        </a>
                        <div class="info">
                            <h2 class="title">{{ book.title }}</h2>
                            <p class="author">{{ book.author }}</p>
                            <p>ISBN: {{ book.isbn }}</p>
                            <p>Year: {{ book.year }}</p>
                            <p>book.id: {{ book.id }}</p>
                        </div>
                    </div>
            </div>
            {% endfor %}
                <div class="arrow book" onclick="location.href='/author/{{ prev_author_id }}/detail'" {% if not prev_author_id %}style="visibility: hidden;"{% endif %}><</div>
                <div class="arrow book" onclick="location.href='/author/{{ next_author_id }}/detail'" {% if not next_author_id %}style="visibility: hidden;"{% endif %}>></div>
            </main>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>


</body>
</html>