<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studio Sen Library</title>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Trocchi&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <main>
        <div class="book-grid" id="book-grid">

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="{{ category }} message book">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}


            <div class="book" id="menu-container">
                <nav class="menu">
                    <h1>Studio Sen Library</h1>
                    <a href="#" onclick="loadContent('{{ url_for('add_author') }}', 'top')" class="book-button">Add Author</a>
                    <a href="#" onclick="loadContent('{{ url_for('add_book') }}', 'bottom')" class="book-button">Add Book</a>
                    <div class="sort-options">
                            <a href="/?criteria=title&direction={{ 'desc' if criteria == 'title' and direction == 'asc' else 'asc' }}" class="sort">
                                Title {{ '↑' if criteria == 'title' and direction == 'asc' else '↓' if criteria == 'title' else '' }}
                            </a>
                            <a href="/?criteria=author&direction={{ 'desc' if criteria == 'author' and direction == 'asc' else 'asc' }}" class="sort">
                                Author {{ '↑' if criteria == 'author' and direction == 'asc' else '↓' if criteria == 'author' else '' }}
                            </a>
                            <a href="/?criteria=year&direction={{ 'desc' if criteria == 'year' and direction == 'asc' else 'asc' }}" class="sort">
                                Year {{ '↑' if criteria == 'year' and direction == 'asc' else '↓' if criteria == 'year' else '' }}
                            </a>
                            <a href="/?criteria=id&direction={{ 'desc' if criteria == 'id' and direction == 'asc' else 'asc' }}" class="sort">
                                ID <br> {{ '↑' if criteria == 'id' and direction == 'asc' else '↓' if criteria == 'id' else '' }}
                            </a>
                    </div>
                    <form action="/" method="get" class="search-form">
                        <input type="text" name="search" placeholder="Search books..." class="search-books" required>
                        <button type="submit">
                            <a href="/?criteria=year" class="book-button">🔎</a>
                        </button>
                    </form>
                </nav>
            </div>

            {% for book in books %}
                <div class="book">
                    <div class="book-content">
                        <a href="/book/{{ book.id }}/detail" class="book-link">
                        <img src="{{ book.cover_url }}" alt="Cover" class="cover">
                        </a>
                        <div class="info">
                            <h2 class="title">{{ book.title }}</h2>
                            <p class="author">{{ book.author }}</p>
                            <p>ISBN: {{ book.isbn }}</p>
                            <p>Year: {{ book.year }}</p>
                            <p>book.id: {{ book.id }}</p>
                        </div>
                    </div>
                    {% if book.id > 50 %}
                        <form action="/book/{{ book.id }}/delete" method="post" class="delete-form" onsubmit="event.stopPropagation();">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="delete">Delete Book</button>
                        </form>
                    {% endif %}
                </div>
            {% endfor %}

        </div>

    </main>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>